Source: ros-indigo-world-canvas-client-cpp
Section: misc
Priority: extra
Maintainer: Jorge Santos <jsantossimon@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-roscpp, ros-indigo-unique-id, ros-indigo-uuid-msgs, ros-indigo-visualization-msgs, ros-indigo-world-canvas-msgs
Homepage: http://ros.org/wiki/world_canvas_client_cpp
Standards-Version: 3.9.2

Package: ros-indigo-world-canvas-client-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-roscpp, ros-indigo-unique-id, ros-indigo-uuid-msgs, ros-indigo-visualization-msgs, ros-indigo-world-canvas-msgs
Description: C++ client library to access semantic maps within the world canvas framework.
