Source: ros-indigo-world-canvas-utils
Section: misc
Priority: extra
Maintainer: Jorge Santos <jsantossimon@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-roslib, ros-indigo-rospy, ros-indigo-world-canvas-msgs
Homepage: http://ros.org/wiki/world_canvas_utils
Standards-Version: 3.9.2

Package: ros-indigo-world-canvas-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-roslib, ros-indigo-rospy, ros-indigo-world-canvas-msgs
Description: C++/Python utilities library for the world canvas framework.
